# Python
__pycache__/
*.py[cod]
*.pyo

# Env
.venv/
.env
.uv/
uv.lock
requirements.lock.txt


# Tools
/tools/*.py
/tools/*.log
/tools/*.out

# PyInstaller / build
build/
dist/
*.spec

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
